.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap:20px;
        &-span{
            color: #0C0C0E;
            font-family: Forum;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px; /* 100% */
            letter-spacing: 2px;
            text-transform: capitalize;
        }
        &-line{
            width: 50px;
            height: 1px;
            background: #0C0C0E;
        }
    }
    &-span{
        margin-top: 40px;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 200% */
        color: #000;
    }
    &-img{
        margin-top: 20px;
        display: inline-flex;
        gap: 25px;
        &-arrowleft{
            display: none;
        }
        &-arrowright{
            display: none;
        }
    }
    &-ping{
        margin-top: 40px;
    }
}
@media screen and (max-width:768px) {
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            gap:20px;
            &-span{
                color: #0C0C0E;
                font-family: Forum;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 40px; /* 100% */
                letter-spacing: 2px;
                text-transform: capitalize;
            }
            &-line{
                width: 50px;
                height: 1px;
                background: #0C0C0E;
            }
        }
        &-span{
            margin-top: 40px;
            text-align: center;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px; /* 200% */
            color: #000;
        }
        &-img{
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            gap: 58px;
            justify-content: space-between;
            &-img2{
                display: none;
            }
            &-img3{
                display: none;
            }
            &-arrowleft{
                display: flex;
            }
            &-arrowright{
                display: flex;
            }
        }
        &-ping{
            margin-top: 40px;
        }
    }
}