.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap:20px;
        &-span{
            color: #0C0C0E;
            font-family: Forum;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px; /* 100% */
            letter-spacing: 2px;
            text-transform: capitalize;
        }
        &-line{
            width: 50px;
            height: 1px;
            background: #0C0C0E;
        }
    }
    &-span{
        margin-top: 40px;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 200% */
        color: #000;
    }
    &-img{
        margin-top: 20px;
        display: inline-flex;
        gap: 25px;
        overflow: hidden;
        align-items: center;   

        &-arrowleft{
            cursor: pointer;
            display: flex;
            width: 24px;
            height: 24px;
            border: none; 
            background-color: inherit;
        }
        &-items{
            margin-top: 20px;
            width: 1400px;
            display: inline-flex;
            gap: 25px;
            overflow: hidden;
            align-items: center;
            
            &-img1{
                width: calc(100% /3);
                object-fit: cover;
                pointer-events: none;
                user-select: none;
            }
        }
        &-arrowright{
            cursor: pointer;
            display: flex;
            width: 24px;
            height: 24px;
            border: none; 
            background-color: inherit;
        }

    }
    &-ping{

        &-ul{
            display: flex;
            margin-top: 40px;
            gap: 10px;
            &-button{
                list-style-type: none;
                width: 16px;
                height: 16px;
                background-color: #0C0C0E;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                transition: all 0.3s;
                &:hover{
                    opacity: 0.7;
                    background-color: #BB945F;
                }
                &.active{
                    background-color: #BB945F;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }
    &-pingtablet{
        display: none;
    }
}
@media screen and (max-width:768px) {
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            gap:20px;
            &-span{
                color: #0C0C0E;
                font-family: Forum;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 40px; /* 100% */
                letter-spacing: 2px;
                text-transform: capitalize;
            }
            &-line{
                width: 50px;
                height: 1px;
                background: #0C0C0E;
            }
        }
        &-span{
            margin-top: 40px;
            text-align: center;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px; /* 200% */
            color: #000;
        }
        &-img{
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            gap: 58px;
            justify-content: space-between;
            &-img2{
                display: none;
            }
            &-img3{
                display: none;
            }
            &-arrowleft{
                display: flex;
            }
            &-arrowright{
                display: flex;
            }
        }
        &-ping{
            display: none;
        }
        &-pingtablet{
            display: flex;
            margin-top: 25px;
        }
    }
}