.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap:20px;
        &-span{
            color: #0C0C0E;
            font-family: Forum;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px; /* 100% */
            letter-spacing: 2px;
            text-transform: capitalize;
        }
        &-line{
            width: 50px;
            height: 1px;
            background: #0C0C0E;
        }
    }
    &-span{
        margin-top: 40px;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 200% */
        color: #000;
    }
    
    &-img{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        &-arrowleft{
            display: none;
            width: 24px;
            height: 24px;
            border: none; 
            background-color: inherit;
        }
        &-cont{
            display: flex;
            flex-direction: row;  
            overflow: hidden;   
            width: 1400px;
            transition: 0.4s;
            &-wrap{
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                transition: 0.4s;
                gap: 25px;
                &-img1{
                    display: flex;
                }
            }
        }
        &-arrowright{
            display: none;
            width: 24px;
            height: 24px;
            border: none; 
            background-color: inherit;
        }
        
    }
    &-ping{
        margin-top: 40px;
        &-ul{
            display: flex;
            margin-top: 40px;
            gap: 10px;
            &-button{
                list-style-type: none;
                width: 16px;
                height: 16px;
                background-color: #0C0C0E;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                transition: all 0.3s;
                &:hover{
                    opacity: 0.7;
                    background-color: #BB945F;
                }
                &.active{
                    background-color: #BB945F;
                }
            }
        }
    }
    &-pingtablet{
        margin-top: 40px;
        display: none;
        &-ul{
            display: flex;
            margin-top: 40px;
            gap: 10px;
            &-button{
                list-style-type: none;
                width: 16px;
                height: 16px;
                background-color: #0C0C0E;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                transition: all 0.3s;
                &:hover{
                    opacity: 0.7;
                    background-color: #BB945F;
                }
                &.active{
                    background-color: #BB945F;
                }
            }
        }
    }

}
@media screen and (max-width:768px) {
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            gap:20px;
            &-span{
                color: #0C0C0E;
                font-family: Forum;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 40px; /* 100% */
                letter-spacing: 2px;
                text-transform: capitalize;
            }
            &-line{
                width: 50px;
                height: 1px;
                background: #0C0C0E;
            }
        }
        &-span{
            margin-top: 40px;
            text-align: center;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px; /* 200% */
            color: #000;
        }
        &-img{
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;  
            
            transition: 0.4s;
            gap: 58px;
            &-arrowleft{
                display: flex;
                width: 24px;
                height: 24px;
                border: none; 
                background-color: inherit;
                &.hidden{
                    opacity: 0;
                    visibility: hidden;
                }
            }
            &-cont{
                display: flex;
                flex-direction: row; 
                overflow: hidden;   
                width: 450px;
                transition: 0.4s;
                &-wrap{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    position: relative;
                    transition: 0.4s;
                    &-img1{
                        display: flex;
                    }
                }
            }
            &-arrowright{
                display: flex;
                width: 24px;
                height: 24px;
                border: none; 
                background-color: inherit;
                &.hidden{
                    opacity: 0;
                    visibility: hidden;
                }
            }
            
        }
        &-ping{
            margin-top: 40px;
            display: none;
            &-ul{
                display: flex;
                margin-top: 40px;
                gap: 10px;
                &-button{
                    list-style-type: none;
                    width: 16px;
                    height: 16px;
                    background-color: #0C0C0E;
                    border: none;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: all 0.3s;
                    &:hover{
                        opacity: 0.7;
                        background-color: #BB945F;
                    }
                    &.active{
                        background-color: #BB945F;
                    }
                }
            }
        }
        &-pingtablet{
            margin-top: 40px;
            display: flex;
            &-ul{
                display: flex;
                margin-top: 40px;
                gap: 10px;
                &-button{
                    list-style-type: none;
                    width: 16px;
                    height: 16px;
                    background-color: #0C0C0E;
                    border: none;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: all 0.3s;
                    &:hover{
                        opacity: 0.7;
                        background-color: #BB945F;
                    }
                    &.active{
                        background-color: #BB945F;
                    }
                }
            }
        }
    }
}