* {
    margin: 0;
    padding: 0;
}
html, body{ 
    scroll-behavior: smooth;
    color: #ffffff;

}
header{
    height: 90px;
    background-color: #F2785CB2;
    box-shadow: 0px 4px 4px 0px #0d606f80;
}
.section_title{
    color: #F2785C;
    font-family: 'Red Hat Text';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.backimg1{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    & img{
        width: 100%;
        height: 700px;
    }
}
.back_img2 {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 1331px;
    & img{
        margin-bottom: -96px;
        width: 100%;
        height: 1331px;
    }
}