.destinations {
    display: flex;
    flex-direction: column;
    margin-top: 97px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
    &-title {
        color: #F2785C;
        font-family: 'Red Hat Text';
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    &-photos {
        display: inline-flex;
        align-items: flex-start;
        margin-top: 46px;
        gap: 60px;
        &-img {
            display: flex;
            flex-direction: column-reverse;
            &-pic {
                border-radius: 16px;
            }
            &-span {
                position: absolute;
                margin-left: 15px;
                margin-bottom: 40px;
                color: #FFF;
                font-family: 'Red Hat Text';
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
    &-dots {
        margin-top: 24px;
        display: inline-flex;
        align-items: flex-start;
        gap: 10px;
        &:hover{
            cursor: pointer;
        }
    }
    &-btn {
        display: flex;
        width: 228px;
        height: 59px;
        margin-top: 40px;
        padding: 10px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        color: #FFF;
        font-family: 'Red Hat Text';
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 10px;
        border: none;
        background: #0D606F;
        box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
        &:hover{
            cursor: pointer;
        }
    }
}






