.nav {
    &-cont{
        &-row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-title-span{
                margin-left: 20px;
                color: #FFF;
                font-family: Forum;
                font-size: 30px;
                font-style: normal;
                font-weight: 400;
                line-height: 50px; 
                letter-spacing: 0.6px;
            }
            &-list{
                ul{
                    display: inline-flex;
                    align-items: flex-start;
                    list-style:none;
                    margin-left: 454px;
                    gap: 30px;
                }
                li{
                    color: #FFF;
                    a{
                        text-decoration: none;
                        color: #FFF;
                        font-family: Inter;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 50px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:768px){
    .nav{
        &-cont{
            &-row{
                &-list{
                    display: none;
                }
            }
        }
    }
}