.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background: #0C0C0E;
    padding: 0px 20px;
    &-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &-title-span{
            color: #FFF;
            font-family: Forum;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 50px; 
            letter-spacing: 0.6px;
        }
        &-list{
            display: flex;
            
            &-buttons{
                display: none;
            }
            ul{
                display: inline-flex;
                align-items: flex-start;
                list-style:none;

                gap: 30px;
            }
            li{
                color: #FFF;
                a{
                    text-decoration: none;
                    color: #FFF;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 50px;
                }
            }
        }
        &-logbtn{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &-icon{
                margin-left: 40px;
                margin-right: 20px;
                &-btn{
                    height: 29px;
                    background-color: inherit;
                    border: none;
                    &:hover{
                        cursor: pointer;
                    }
                    &.inactive{
                        display: none;
                    }
                }
                &-namedbtn{
                    display: none;
                    width: 28px;
                    height: 28px;
                    border: transparent;
                    border-radius: 50%;
                    color: #BB945F;
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 133.333% */
                    &.active{
                        display: block;
                    }
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            &-menu{
                display: flex;
                flex-direction: column;
                position: absolute;   
                align-items: center;  
                height: 115px;
                width: 80px;
                background-color: #fff;
                text-align: center;
                margin-top: 40px;
                margin-left: 12px;
                opacity: 0;
                visibility: hidden;
                &.active{
                    opacity: 1;
                    visibility: visible;
                }
                &-title{
                    margin-top: 5px;
                    color: #000;
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px; /* 133.333% */
                }
                &-line{
                    z-index: 3;
                    width: 40px;
                    height: 1px;
                    background: #BB945F;
                    margin-top: 5px;
                }
                &-prereg{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin-top: 15px;
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    &.active{
                        opacity: 1;
                        visibility: visible;
                        position: relative;
                    }
                    &-btn{
                        cursor: pointer;
                        border: none;
                        color: #000;
                        text-align: center;
                        font-family: Inter;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px; /* 133.333% */
                        background-color: inherit;
                    }
                }
                &-reg{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin-top: 15px;
                    opacity: 0;
                    visibility: hidden;
                    &.active{
                        opacity: 1;
                        visibility: visible;
                    }
                    &-btn{
                        cursor: pointer;
                        border: none;
                        color: #000;
                        text-align: center;
                        font-family: Inter;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px; /* 133.333% */
                        background-color: inherit;
                    }
                }

            }
            &-burgerbtn {
                display: none;    
            }
            &-regmodal{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: fixed;
                background-color: #fff;
                width: 250px;
                height: 382px;  
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0 auto;
                opacity: 0;
                visibility: hidden;
                transition: 0.6s;
                overflow: auto;
                z-index: 3;
                &.disabled{
                    display: none;
                }
                &.active{
                    opacity: 1;
                    visibility: visible;
                }
                &-title {
                    margin-top: 20px;
                    color: #000;
                    text-align: center;
                    font-family: Forum;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 100% */
                    letter-spacing: 0.4px;
                    text-transform: uppercase;
                }
                &-clsbtn {
                    position: absolute;
                    right: 0;
                    margin-top: 15px;
                    margin-right: 15px;
                    background-color: #fff;
                    border: none;
                    cursor: pointer;
                }
                &-forms {
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;
                    gap: 10px;
                    &-fields {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        &-title {
                            color: #000;
                            font-family: Inter;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px; /* 133.333% */
                            letter-spacing: 0.3px;
                        }
                        &-input {
                            width: 200px;
                            height: 20px;
                            flex-shrink: 0;
                            border: 1px solid #BB945F;
                            &:focus{
                                outline: none;
                            }
                        }
                    }
                    &-login {
                        margin-top: 10px;
                        width: 75px;
                        height: 30px;
                        flex-shrink: 0;
                        border-radius: 2px;
                        border: 1px solid #0C0C0E;
                        color: #0C0C0E;
                        background-color: inherit;
                        cursor: pointer;
                        text-align: center;
                        font-family: Inter;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 1px;
                        transition: 0.4s;
                        &:hover{
                            transition: 0.4s;
                            border-radius: 2px;
                            border: 1px solid #BB945F;
                            background: #BB945F;
                        }
                    }
                    &-btmtext {
                        display: inline-flex;
                        gap: 10px;
                        &-tip {
                            color: #000;
                            text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
                            font-family: Inter;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                        &-login {
                            background-color: inherit;
                            border: none;
                            cursor: pointer;
                            color: #0C0C0E;
                            text-align: center;
                            font-family: Inter;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            letter-spacing: 1px;
                            text-decoration-line: underline;
                        }
                    }
                }
            }
            &-logmodal{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: fixed;
                background-color: #fff;
                width: 250px;
                height: 262px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                visibility: hidden;
                overflow: auto;
                transition: 0.6s;
                z-index: 3;
                &.disabled{
                    display: none;
                }
                &.active{
                    opacity: 1;
                    visibility: visible;
                }
                &-title {
                    margin-top: 20px;
                    color: #000;
                    text-align: center;
                    font-family: Forum;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 100% */
                    letter-spacing: 0.4px;
                    text-transform: uppercase;
                }
                &-clsbtn {
                    position: absolute;
                    right: 0;
                    margin-top: 15px;
                    margin-right: 15px;
                    background-color: #fff;
                    border: none;
                    cursor: pointer;
                }
                &-forms {
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;
                    gap: 10px;
                    &-fields {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        &-title {
                            color: #000;
                            font-family: Inter;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px; /* 133.333% */
                            letter-spacing: 0.3px;
                        }
                        &-input {
                            width: 200px;
                            height: 20px;
                            flex-shrink: 0;
                            border: 1px solid #BB945F;
                            &:focus{
                                outline: none;
                            }
                        }
                    }
                    &-login {
                        margin-top: 10px;
                        width: 75px;
                        height: 30px;
                        flex-shrink: 0;
                        border-radius: 2px;
                        border: 1px solid #0C0C0E;
                        color: #0C0C0E;
                        background-color: inherit;
                        cursor: pointer;
                        text-align: center;
                        font-family: Inter;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 1px;
                        transition: 0.4s;
                        &:hover{
                            transition: 0.4s;
                            border-radius: 2px;
                            border: 1px solid #BB945F;
                            background: #BB945F;
                        }
                    }
                    &-btmtext {
                        display: inline-flex;
                        gap: 10px;
                        &-tip {
                            color: #000;
                            text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
                            font-family: Inter;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                        &-login {
                            background-color: inherit;
                            border: none;
                            cursor: pointer;
                            color: #0C0C0E;
                            text-align: center;
                            font-family: Inter;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            letter-spacing: 1px;
                            text-decoration-line: underline;
                        }
                    }
                }
            }
        }    
    }
}
@media screen and (max-width:768px){
    .header{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        &-nav{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            
            &-list{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: fixed;
                top: 0;
                right: -100%;
                margin-left: 0px;
                width: 332px;
                height: 570px;
                background-color: #000;
                transition: all 0.4s;
                z-index: 3;
                &.active{
                    right: 0;
                }
                &-buttons {
                    display: flex;
                    gap: 40px;
                    width: 100%;
                    justify-content: flex-end;
                    align-items: center;
                    margin-right: 20px;
                    position: absolute;
                    top: 0;
                    margin-top: 31px;
                    &-icon{
                        display: none;
                    }
                    &-exit{
                        border: none;
                        background-color:#000;
                    }
                }  
                ul{
                    display: inline-flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;
                }
                li{
                    a{
                        color: #FFF;
                        font-family: Inter;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 50px; /* 250% */
                    }
                }
            }
            &-logbtn{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 40px;
                &-burgerbtn {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 45px;
                    height: 20px;
                    flex-shrink: 0;
                    border: none;
                    background-color: inherit;
                    
                    &-line{
                        width: 45px;
                        height: 2px;
                        background-color: #fff;
                    }
                }
                &-icon{
                    margin-top: 0px;           
                }  
                &-menu{
                    margin-top: 160px;
                    margin-left: 13px;
                }
            }
        }
    }
    
}      

