.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background: #0C0C0E;
    padding: 0px 20px;
    &-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &-cont{
            
            &-row{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                &-title-span{

                    color: #FFF;
                    font-family: Forum;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 50px; 
                    letter-spacing: 0.6px;
                }
                &-list{
                    ul{
                        display: inline-flex;
                        align-items: flex-start;
                        list-style:none;
                        margin-left: 454px;
                        gap: 30px;
                    }
                    li{
                        color: #FFF;
                        a{
                            text-decoration: none;
                            color: #FFF;
                            font-family: Inter;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 50px;
                        }
                    }
                }
                &-logbtn{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    &-icon{
                        margin-left: 40px;
                    }
                    &-burgerbtn {
                        display: none;    
                    }
                }

            }
        }
    }
}
@media screen and (max-width:768px){
    .header{
        &-nav{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            &-cont{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                &-row{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    &-list{
                        display: none;
                    }
                    &-logbtn{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        &-burgerbtn {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 45px;
                            height: 20px;
                            flex-shrink: 0;
                            border: none;
                            background-color: inherit;
                            &-line{
                                width: 45px;
                                height: 2px;
                                background-color: #fff;
                            }
                        }
                        &-icon{
                            
                        }
                    }
                }
            }
        }
        
    }
}