.preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 892px;
    height: 422px;
    margin-left: 120px;
    margin-top: 32px;
    &-h1 {
        color: #FFF;
        font-family: Aleo;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.35em;
    }
    &-span {
        font-family: 'Aleo';
        font-style: italic;
        font-weight: 700;
        font-size: 20px;
    }
    &-search {
        margin-top: 46px;
        display: flex;
        flex-direction: row;
        &-input {
            color: #F2785C;
            font-family: Aleo;
            font-size: 24px;
            font-style: italic;
            font-weight: 400;
            line-height: normal;
            width: 892px;
            height: 95px;
            flex-shrink: 0;
            border-radius: 16px;
            border: none;
            background: rgba(255, 255, 255, 0.70);
            padding-left: 41px ;
            outline: none;
            &::placeholder{
                color: #F2785C;
                font-family: Aleo;
            }
        }
        &-btn {
            padding: 10px 32px;
            width: 228px;
            height: 59px;
            color: #FFF;
            font-family: 'Red Hat Text';
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            border-radius: 10px;
            border: none;
            background: #0D606F;
            box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
            display: flex;
            position: relative;
            margin-top: 18px;
            margin-left: -244px; 
            &:hover{
                cursor: pointer;
            }
        }
    }
}




