.steps{
    margin-top: 301px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
.text_step{
    color: #0D606F;
    font-family: Aleo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.threesteps{
    height: 154px;
}
.firststep{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.secondstep{
    margin-left: 231px;
    margin-right: 160px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.thirdstep{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}