.stories {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    &-title {
        color: #F2785C;
        font-family: 'Red Hat Text';
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    &-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        gap: 30px;
        &-card {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 40px;
            &-img {
                height: 250px;
                border-radius: 16px;
                grid-area: content;
                box-shadow: 0px 4px 4px 0px #0D606F;
            }
            &-text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                
                
                
                &-title {
                    margin-top: -24px;
                    color: #0D606F;
                    font-family: Aleo;
                    font-size: 35px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                &-lorem{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    height: 184px;
                    &-span {
                        width: 780px;
                        
                        color: #0D606F;
                        font-family: Aleo;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.1em;
                    }
                    &-readmore {
                        display: flex;
                        margin-top: -11px;
                        top: 0;
                        color: #0D606F;
                        font-family: Aleo;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        text-decoration-line: underline;
                    }
                }
            }
        }
    }
    &-button {
        display: flex;
        z-index: 1;
        width: 228px;
        height: 59px;
        margin-top: 40px;
        margin-bottom: 41px;
        padding: 10px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        color: #FFF;
        font-family: 'Red Hat Text';
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 10px;
        border: none;
        background: #0D606F;
        box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
        &:hover{
            cursor: pointer;
        }
    }
    &-bg {
        position: absolute;
        margin-top: 134px;
        width: 100%;
        height: 1270px;
        flex-shrink: 0;
        background: rgba(255, 255, 255, 0.70);
        z-index: -1;
    }
}









